@import "tailwindcss";
  

body{
  background-color: black;
}

/* Hide vertical scrollbar but allow vertical scroll */
body, html {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  width: 0px; /* Chrome, Safari, Edge */
  background: transparent;
}
